<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Error!</title>
</head>
<body>
    {{>navigation}}
    <h1>Hello folk!</h1>
    <p>Your're on wrong page!</p>
    <p>{{error}}</p>
    {{>footer}}
</body>
</html>