<div class="navigation">
    <ul>
        <a href="/">
        <li>Home</li>
        </a>
        <a href="/about">
            
        <li>About</li>
        </a>
        <a href="/weather">

        <li>Weather</li>
        </a>
    </ul>
</div>